<div class="footer mb-3">
            <p class="footer-text">
                <center><a href="/?utm_source=user_profile"><img width="40" src="https://i.ibb.co/Lz4WQ6F/linksee.png" alt="Linksee" draggable="false" class"mb-3"></a></center>
            </p>
        </div>