<% include ./partials/header %>
<body>

    <div class="this-is-section">
        <div class="noclasses mt-3">
            <p class="un-font">404 Not Found</p>
            <a href="/"><p>Return Home</p></a>
        </div>
        <% include ./partials/footer %>
    </div>

</body>

</html>