<% include ./partials/x/header %>


<body>

    <div class="navbar sticky padding">
        <a href="/" class="text-black navbar-brand"><b>Linksee</b></a>
        <div class="navbar-nav">
        </div>
        <div class="navbar-nav ms-auto">
            <a href="/my/control"
                class="navbar-control-btn text-white rounded-lg nav-item nav-link p-2 hover:shadow-md">
                <p class="ml-2 mr-2">Control</p>
            </a>
        </div>
    </div>

    <div class="home padding"
        style="background-color: white">
        <div class="slogan">
            <p class="slogan-text text-black">The Only Link You’ll Ever Need</p>
            <p class="slogan-description mt-4 mb-4">Connect audiences to all of your content with just one link</p>
            <p class="slogan-btn-text mt-4 mb-4">Already on Linksee? <a href="/users/signin" class="yesdecoration">Sign in</a></p>
            <p class="slogan-btn mt-4 mb-4 text-uppercase"><a href="/users/signup" class="slogan-btn-btn text-white rounded-lg p-3 hover:shadow-md"><span class="ml-3 mr-3">Get Started for Free</span></a></p>
            <p class="slogan-img mt-4 mb-4"><center><img draggable="false" class="slogan-img-img" src="https://i.ibb.co/k6w17xb/Linksee-i-Phone-view.png" alt="Linksee iPhone View"></center></p>
        </div>
    </div>

</body>

</html>